$borderPattern: 3px solid rgb(19, 17, 18);
$generalBgc: linear-gradient(360deg,#751fa780, #411b9930);

.MainInt {
    width: 100vw;
    height: 100vh;
    background: rgba(20, 20, 20, 0.3);

    display: grid;
    backdrop-filter: blur(5px);
    
    > div:nth-child(1) {
        border-right: $borderPattern;
    }

    > div {
        background: $generalBgc;
    }
}

@media (orientation: portrait) {
    .MainInt > div:nth-child(1) {
        border-bottom: $borderPattern;
        border-right: none;
    }
}

@media (min-width: 900px){
    .MainInt {
        width: 40vw;
        height: 50vh;
        
        grid-template-columns: repeat(2, 1fr);
        border: $borderPattern;
        backdrop-filter: blur(8px);
    }
}

@media (orientation: landscape) and (max-width: 899px) {
    .MainInt {
        grid-template-columns: repeat(2, 1fr);
    }
}