@font-face {
  font-family: minecraftFont;
  src: url(../src/assets/Minecraft.ttf);
}

#root {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}